.text {
    color: white;
}

.image6 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    object-fit: cover;
    object-position: center;
    align-self: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 20;
    padding: 0;
}

.btn-group {
    margin: 20px;
}

.left-pane {
    padding: 20px;
    width: 50%;
}

.main {
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: left;
}

.text {
    margin: 20px;
}

.right-pane {
    padding: 20px;
    width: 50%;
}

.code {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 !important;
}

.code-container {
    margin-top: 10px;
}


.mac-window-controls {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    display: flex;
    gap: 6px;
    padding: 8px;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.mac-control-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}

.mac-control-button.close {
    background-color: #ff605c;
}

.mac-control-button.minimize {
    background-color: #ffbd44;
}

.mac-control-button.maximize {
    background-color: #00ca56;
}